extends layout

block content
  .container
    h1 Welcome to My Portfolio

    // Projects Section
    h2 Projects
    if projects.length
      ul
        each project in projects
          li
            h3= project.title
            p= project.description
    else
      p No projects available yet.

    // Skills Section

    h2 Skills
    if skills.length
      ul
        each skill in skills
          li #{skill.name} - #{skill.level}#{skill.category ? ` (${skill.category})` : ''}
    else
      p No skills added yet.
